name: Clean Root Except .github

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  clean:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Delete everything except .github
        run: |
          find . -mindepth 1 -maxdepth 1 \
            ! -name ".github" \
            ! -name ".git" \
            -exec rm -rf {} +

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

          git add -A
          git commit -m "Cleaned root except .github" || echo "Nothing to commit"

          git push origin main --force
